# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
db.sqlite3
media/

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Local development settings
local_settings.py

# System Files
.DS_Store
Thumbs.db
